@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: system-ui, sans-serif;
}

/* NAVBAR */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.navbar-left h2{
    margin: 0;
}

.navbar-right{
    display: flex;
    gap: 30px;
}

.a-element{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* HOME */
.home{
    min-height: calc(100vh - 80px);
    padding: 60px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-h1{
    font-family: "Rubik Mono One", monospace;
    margin: 0 0 20px;
}

.home-p1{
    font-size: 18px;
    margin-bottom: 10px;
}

.home-p2{
    opacity: 0.7;
}

.home-right{
    display: grid;
    place-items: center;
}

.right-img{
    max-width: 300px;
}

.price-box{
    margin-top: 25px;
    display: grid;
    gap: 12px;
    text-align: center;
}

.price{
    font-size: 24px;
    font-weight: bold;
}

.buy-btn{
    padding: 12px 28px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.buy-btn:hover{
    background-color: #e5e5e5;
    transform: scale(1.05);
}


/* FEATURES */
.features{
    padding: 80px 100px;
}

.features-title{
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    margin-bottom: 50px;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.feature-card:hover{
    transform: translateY(-10px);
    border-color: white;
}

.feature-card{
    border: 1.5px solid rgba(255,255,255,0.6); /* STRONGER WHITE */
    padding: 30px;
    text-align: center;
    border-radius: 12px;

    transition: 
        transform 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}
.feature-card:hover{
    transform: translateY(-10px);
    border-color: #ffffff;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
}


.feature-icon{
    width: 56px;
    height: 56px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

